:root {
  background-color: rgb(77, 77, 77);
  color: white;

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 8rem;
  border-radius: 50%;
  border: 0.2rem solid green;
  background-color: rgb(204, 200, 200);

}